*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: beige;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;

  margin: 0 auto;
  width: 70%;
}

.title{
  margin-top: 30px;
}

.title h1{
  margin-bottom: 10px;
}
.title p{
  margin-bottom: 20px;
}
.inputs-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
.inputs-container i{
  border: none;
  
  

}
.inputs-container input{
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.btns-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.btns-container h2{
  margin-right: 60px;
}

.btns-container button{
  border-radius: 10px;
  padding: 10px 100px;
  margin-right: 70px;
  cursor: pointer;
  margin-bottom: 60px;
  
}

.btn-Active{
  background: black;
  color: white;
}
.container-card{
  border: 1px solid black;
  padding: 30px;
  border-radius: 20px;
  width: 30%;
  margin: 10px;

}

.card-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-title span{
  margin-right: 10px;
  font-size: 1.5rem;
}
.card-title p{
  
  font-size: 1.2rem;
}

.containerAll-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}






